@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

body,
html {
  height: 100%;
  background-color: #fff;
  font-family: 'Space Grotesk', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 58%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 55% 100%;
}

.divCardF {
  position: relative;
  margin-right: 10%;
}

.divCardB {
  position: relative;
}

svg {
  position: absolute;
  left: 7%;
  top: 10%;
}

.cvcBC {
  top: 44%;
  left: 88%;
}

.cardN,
.cName,
.cDate,
.cvcBC {
  position: absolute;
}

.cardN {
  font-size: 1.8rem;
  top: 58%;
  left: 15%;
}

.cName,
.cDate {
  font-size: 1.1rem;
  top: 80%;
}

.cName {
  left: 8%;
}

.cDate {
  left: 80%;
}

.form {
  display: flex;
  height: 100%;
  width: 42%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backC {
  margin-left: 8%;
}

form {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input,
button {
  width: 310px;
  height: 42px;
  border-radius: 10px;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
}

.fName, .cNumber, #cvc {
  display: flex;
  flex-direction: column;
}

#month,
#year {
  width: 82px;
}

#cvc {
  width: 140px;
}

.expire {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
