@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

body,
html {
  height: 100%;
  background-color: #fff;
  color: hsl(0, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 58%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 55% 100%;
}

.divCardF {
  position: relative;
  margin-right: 10%;
}

.divCardB {
  position: relative;
}

svg {
  left: 7%;
  top: 10%;
}

.cvcBC {
  top: 44%;
  left: 88%;
}

.cardN,
.cName,
.cDate,
.cvcBC,
svg {
  position: absolute;
}

.cardN {
  font-size: 1.8rem;
  top: 58%;
  left: 15%;
}

.cName,
.cDate {
  font-size: 1.1rem;
  top: 80%;
}

.cName {
  left: 8%;
}

.cDate {
  left: 80%;
}

.form {
  display: flex;
  height: 100%;
  width: 42%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backC {
  margin-left: 8%;
}

form {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

label {
  color: hsl(278, 68%, 11%);
  font-weight: 700;
}

input,
button {
  width: 330px;
  height: 42px;
  border-radius: 10px;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}

input {
  border: 1px solid hsl(270, 3%, 87%);
  color: hsl(279, 6%, 55%);
}

input:focus {
  color: hsl(279, 6%, 55%);
}

input:focus-visible {
  outline: 2px solid hsl(278, 68%, 11%);
}


input:focus::placeholder{
  color: hsl(279, 6%, 55%);
}


button {
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  border-color: hsl(278, 68%, 11%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(278, 68%, 11%);
  transition: background-color 0.2s ease-in-out;
}

.fName,
.cNumber,
#cvc {
  display: flex;
  flex-direction: column;
}

#month,
#year {
  width: 82px;
}

#cvc {
  width: 140px;
}

.expire {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.dyError {
  display: flex;
  width: 100%;
}

.yError {
  width: 59%;
}

.error {
  color: crimson;
}